.main{
    width:80%;
    margin-left:10%
}

.card{
    width:25%;
    margin:2%;
    height:300px;
    box-shadow: 5px 10px 15px gray;
    float: left;
}

.card > img{
    height:150px;
    width:100%
}